<!DOCTYPE html>
<html ng-app>
<head>
  <title></title>
  <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
  </style>
</head>
<body ng-cloak ng-init="names=['Harry', 'Ron', 'Hermione', 'Sirius', 'Hedwig', 'Tonks']">
  <ul>
    <li ng-repeat='name in names'>
      {{ name }}
    </li>
  </ul>
  <ul ng-init="symbols=['&spades;', '&hearts;', '&clubs;', '&diams;']">
    <li ng-repeat='symbol in symbols'>
      {{ symbol }}
    </li>
  </ul>
  <ul ng-init="numbers=[1,1,2,5,6,9,9,9]">
    <li ng-repeat='number in numbers track by $index'>
      {{ number }}
    </li>
  </ul>
  <ul ng-init="meObj={name: 'Kathy', age: 26, profession: 'coder'}">
    <li ng-repeat="thing in meObj">
      {{ thing }}
    </li>
  </ul>

  <div ng-show='3+4 == 5'>
    3+4 isn't 5, don't show
  </div>
  <div ng-show='3+4 == 7'>
    3+4 = 7, this is correct; show.
  </div>
  <div ng-hide='3+4 == 5'>
    3+4 isn't 5, don't hide
  </div>
  <div ng-hide='3+4 == 7'>
    3+4 = 7, hide
  </div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</body>
</html>