<!DOCTYPE html>
<html ng-app>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body ng-cloak ng-init="names=['Harry', 'Ron', 'Hermione', 'Sirius', 'Hedwig', 'Tonks']">
  <ul>
    <li ng-repeat='name in names'>
      {{ name }}
    </li>
  </ul>
  <ul ng-init="symbols=['&spades;', '&hearts;', '&clubs;', '&diams;']">
    <li ng-repeat='symbol in symbols'>
      {{ symbol }}
    </li>
  </ul>
  <ul ng-init="numbers=[1,1,2,5,6,9,9,9]">
    <li ng-repeat='number in numbers track by $index'>
      {{ number }}
    </li>
  </ul>
  <ul ng-init="meObj={name: 'Kathy', age: 26, profession: 'coder'}">
    <li ng-repeat="thing in meObj">
      {{ thing }}
    </li>
  </ul>

  <div ng-show='3+4 == 5'>
    3+4 isn't 5, don't show
  </div>
  <div ng-show='3+4 == 7'>
    3+4 = 7, this is correct; show.
  </div>
  <div ng-hide='3+4 == 5'>
    3+4 isn't 5, don't hide
  </div>
  <div ng-hide='3+4 == 7'>
    3+4 = 7, hide
  </div>

  <h1>Sign up page</h1>
  <input ng-init="password=''" ng-model="password" type="password">
  <p>Your password is {{ password.length }} characters long</p>
  <p ng-hide="password.length > 6">Password is invalid!</p>
  <button ng-show="password.length > 6">Sign up!!</button>

  <div ng-class='{ highlight: 4 + 4 == 8 }'> 4 + 4 = 8 </div>
  <div ng-class='{ highlight: 4 + 4 == 10 }'> 4 + 4 = 10 </div>

  <h2>Sign up page</h2>
  <input type="password" ng-model="pass" ng-init="pass=''">
  <p class="invalid" ng-class='{ valid: pass.length > 6 }'>Your password is {{pass.length}} characters long</p>
  <p ng-hide="pass.length > 6">Password is invalid!!!!</p>
  <button ng-show="pass.length > 6">Sign up!!!</button>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</body>
</html>