[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
.highlight {
  background-color: yellow;
}
.valid {
  color: green;
}
.invalid {
  color: red;
}