[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
.highlight {
  background-color: yellow;
}
.invalid {
  color: red;
}
.valid {
  color: green;
}
.sale {
  color: #FFCC00;
}
.cam-img {
  width: 7rem;
}
.cam-li {
  list-style: none;
}
.cam-title {
  font-weight: bold;
}
